<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC 1.0</title>
</head>
<h1>Comments</h1>
<ul th:if="${bindingResult != null}">
    <li th:each="message : ${bindingResult.allMessages}">
        <span style="color: red;" th:text="${message}">error!</span>
    </li>
</ul>
<form th:action="${mvc.contextPath + '/comments'}" method="post">
    <input name="comment" placeholder="Comment"/><input type="submit" value="Send"/>
    <input type="hidden" th:name="${mvc.csrf.name}" th:value="${mvc.csrf.token}"/>
</form>
<ul th:if="${comments != null}">
    <li th:each="comment : ${comments.comments}" th:text="${comment}">comment</li>
</ul>
</html>
